extends layout

block content
	include mixins/mixin 
	+navbar

	if(currentUser)
		h1 Hello #{currentUser.username}

		div.list-group
			each post in post_list
				div.list-group-item.list-group-item-action.flex-column.align-items-start
					div.d-flex.w-100.justify-content-between
						h5.mb-1 #{post.title}
						if(currentUser.isMember)
							small by #{post.user.username} #{post.timeAgo}
					p.mb-1 #{post.body}
					if(currentUser.isAdmin)
						button.btn.btn-outline-danger.btn-sm Delete
			else
				p There are no posts
