extends layout

block content
	include mixins/mixin 
	+navbar

	if(currentUser)
		h1 Hello #{currentUser.username}

		ul
			each post in post_list
				li
					p #{post.title}
					p #{post.body}
					if(currentUser.isMember)
						p #{post.user.username}
					else
						p anonymous
					p #{post.timeAgo}
			else
				li
					p There are no posts
	else
		h1 No user
